$secondary_font: 'Allura';
.header-font {
    font-family: $secondary_font !important;
    font-size: 28px;
    color: white;
    margin-left: 10px;
}

.header-icon {
    height: 33px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    font-size: 30px;
    color: #dc1868;
    background: white;
    width: 18%;
    padding: 2px;
}

.menu {
    position: absolute;
    right: 2vh;
}

.font {
    font-family: 'Quicksand';
}

.icon {
    color: #dc1868;
}

.serviceTitle {
    color: #3f51b5;
    font-family: 'Quicksand-Semibold';
}