<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a (click)="goToHome()" class="remove-underline" style="cursor: pointer;">
            <mat-icon class="header-icon">handyman</mat-icon><span class="header-font">Hire-Services</span></a>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showLogIn" class="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu" class="font">

            <button mat-menu-item (click)="goToProfile()">
              
          <mat-icon class="icon">persona</mat-icon>
          <span class="serviceTitle">My Profile</span>
        </button>
            <button mat-menu-item (click)="goToAppointment()" *ngIf="usertype === 'consumer'">
          <mat-icon class="icon">calendar_today</mat-icon>
          <span class="serviceTitle">My Appointments</span>
        </button>
            <button mat-menu-item (click)="logout()">
            <mat-icon class="icon"  title="logout">power_settings_new</mat-icon>&nbsp;
            <span class="serviceTitle">Log-out</span>
         </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>