.card {
    margin-bottom: 30px;
    font-family: 'Quicksand-Semibold';
}

x .checked {
    color: #ffc107;
}

.listingTop {
    top: 20px;
    position: relative;
    font-family: 'Quicksand-Semibold';
}

.search {
    width: 100%;
}

.selectClass {
    margin: 10px;
    font-family: 'Quicksand-Semibold';
}

.checked {
    color: #ffc107;
}

.size {
    font-size: 20px;
}

.serviceTitle {
    margin: 12px;
    color: #3f51b5;
    font-family: 'Quicksand-bold';
}

.title {
    margin: 10px;
}

.icon {
    color: #dc1868;
    position: relative;
    top: 2px;
}

.fontFamily {
    font-family: 'Quicksand-Semibold';
}

.filterBox {
    color: #3f51b5;
    font-family: 'Quicksand-bold';
}

.header-icon {
    color: #dc1868;
}