<mat-card>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <img src="/assets/images/login1.png" />
            <h2 class="loginHeader">Log In</h2>
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="fontFamily" [disabled]="!loginForm.valid">Login</button>
        </form>
    </mat-card-content>
    <div class="register" (click)="goToRegister()">New user? Register.</div>
</mat-card>