mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    font-family: 'Quicksand-Semibold';
}

mat-form-field {
    display: block;
    font-family: 'Quicksand-Semibold';
}

.skillset {
    padding: 10px;
    margin-bottom: 20px;
}

.header-icon {
    color: #dc1868;
    position: relative;
    top: 5px;
    margin: 4px;
}