.card {
    margin: 10px;
    font-family: 'Quicksand-Semibold';
    cursor: pointer;
    width: 100%;
    border: solid 2px rgb(197, 194, 194);
}

.img-thumbnail {
    height: 43vh;
}

.header {
    font-family: 'Quicksand-Bold';
    margin: 12px;
    color: #dc1868;
}

.icon {
    color: #dc1868;
}

.serviceTitle {
    position: absolute;
    margin-left: 7px;
    color: #3f51b5
}