.card {
    margin-bottom: 30px;
    font-family: "Quicksand-Semibold";
}

.fontFamily {
    font-family: "Quicksand-bold";
}

button {
    font-family: "Quicksand-Semibold";
}

mat-form-field {
    font-family: "Quicksand-Semibold";
}